<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <a href="{% url 'post_new' %}">Create Post</a>
 {% if user.is_authenticated %}
 <a href="{% url 'logout' %}">Log Out</a>
 <a href="{%url 'password_reset'%}">Reset Password</a>
 {{user.username}}
<!-- must input your username if not show the Login link-->
 {% else %}
 <p>Oga Login na sey wetin</p>
 <a href="{% url 'login' %}">Login</a>
 {% endif %}

    {% for post in posts %}
 <h2><a href="{% url 'detail' post.pk %}">{{post.title}}</a></h2>

 <p>{{post.body}}</p>
 <p>{{post.created_at}}</p>
    {% endfor %}

</body>
</html>